.home {
  display: flex;
  padding: 0 3rem 0 3rem;
}

.description {
  font-size: 470%;
  font-weight: bold;
}

.img {
  height: 20%;
  width: 50%;
}

.enter-address {
  size: 50rem; 
  font-weight: 100;
  align-content: space-around;
}




