*{
    margin: 0%;
    padding: 0%;
}
 a:hover{
    color: black;
}
.palaceTitle{
    color: orange;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: sans-serif;
    text-align: start;
}

a{
    text-decoration: none;

}

.HeaderGroup{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.HeaderLeft{
    flex:1;
    display: flex; 
    align-items: center;
}
.HeaderRight{
    flex:1; 
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding: 0 50px 0 0;
}

 a{
color: blue;
font-weight: 700;
 }


/* for animating the button  */


@media (max-width: 640px) {
    .Header {
       padding: 15px 0; 
       /* width: 20px; */
        }

        .HeaderGroup{
           grid-template-columns: repeat(4, auto); 
            }

            .Header a:nth-child(4){
                display: none;
                }
}