.Header{
   
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.palaceTitle{
    color: orange;
}

a{
    text-decoration: none;
}

.HeaderGroup{
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.Header a{
color: white;
font-weight: 700; 
}

.Header button {
    padding: 8px 20px;
    font-size: 20px;
    background: #56ccf2;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

/* for animating the button  */
.Header button:hover {
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
transform: translate(-3px);
}

@media (max-width: 640px) {
    .Header {
       padding: 15px 0; 
       /* width: 20px; */
        }

        .HeaderGroup{
           grid-template-columns: repeat(4, auto); 
            }

            .Header a:nth-child(4){
                display: none;
                }
}